@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');

/* @import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Mulish';
}

.orange {
    color: #FF5524;
}
  
  
html, body, #root {
    overflow-x: hidden;
  }