
.custom-pagination .ant-pagination-item {
    border-radius: 9999px;
    background-color: #333;
    border: none;
    color: white;
    font-weight: 500;
    margin: 0 4px;
  }
  
  .custom-pagination .ant-pagination-item:hover {
    background-color: #444;
  }
  
  .custom-pagination .ant-pagination-item-active {
    background-color: #FF5524 ;
    color: white;
    border: none;
    }
  
  .custom-pagination .ant-pagination-item-active:hover {
    background-color: #e14d1d ;
  }
  