/* Nút đang chọn */
.custom-pagination .ant-pagination-item-active {
  background-color: #FF5524 !important;
  border-color: #FF5524 !important;
  border-radius: 6px; /* nhẹ nhàng hơn */
  transition: all 0.3s ease;
}

.custom-pagination .ant-pagination-item-active a {
  color: white !important;
}

/* Nút chưa chọn (giữ style gốc nhưng thêm viền nhẹ và hover) */
.custom-pagination .ant-pagination-item {
  border-radius: 6px;
  transition: all 0.3s ease;
}

.custom-pagination .ant-pagination-item:hover {
  border-color: #FF5524 !important;
  color: #FF5524;
}

/* Hover chữ */
.custom-pagination .ant-pagination-item:hover a {
  color: #FF5524 !important;
}
